<!-- <div class="card" ng-repeat="band in bands | filter : {name: name}">
    <img  class = "banner" ng-src="{{band.banner}}" style="width: auto; height:auto; align-content: center; ">
    <img class="card-img-top" ng-src="{{band.image}}" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">Card title</h4>

        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>

 -->

 <div class="container card-container">
    <div class="col s12 m12">
        <div class="card fullCardProduct" ng-repeat="band in bands | filter : {name: name}">
            <div class="card-image">
                <img ng-src="{{band.banner}}">
            </div>
            <div class="card-content center-align">
                <span class="card-title">{{band.name}}</span>
            </div>
            <div class="card-image">
                <img ng-src="{{band.image}}">
            </div>
            
        </div>
    </div>
</div>